/* page css */

/* body{
    width: 90%;
    margin: 0% 5%;
} */

/* Header CSS */

.header{
    margin-top: 10px;
    /* width: 90%;
    margin: 1% 5%; */
    height: 60px;
}

.logo_search_links{
    width: 90%;
    margin: 1% 5%;
}

.logo_search{
    width: 35%;
}

.logo{
    float: left;
    width: 23%;
    height: 50px;
}

.logo>a>img{
    width: 100%;
    height: 50px;
}

.search{
    width: 73%;
    margin-left: 10px;
    height: 50px;
    float: left;
}

.search>input{
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #c7c1c1;
}

.header_links{
    /* width: 60%; */
    width: 45%;
    float: right;
}

.header_links>ul>li{
    display: inline;
    
    margin-right: 5px;
    /* float: right; */
    /* clear: both; */
}

.header_links>ul>li>a{
    text-decoration: none;
    color: black;
    border-right: 1px solid grey;
    padding-right: 5px;
}

/* Mega menu from here */

.mega_menu{
    width: 100%;
    height: 50px;
    background-color: #f8d53b;
    float: left;
    margin-top: 5px;
    box-shadow: 1px 1px 1px #e0dbdb;
    margin-bottom: 3px;
}

.mega_menu>ul{
    padding: 0px;
}

.mega_menu>ul>li{
    display: inline;
    margin-right: 10px;
}

.mega_menu>ul>li>a{
    display: inline;
    text-decoration: none;
    color: black;
    padding: 5px
}

/* Banner */

.banner{
    width: 100%;
    margin-top: 3px;
    background-color: #EEEEEE;
    margin-bottom: 5px;
}

.banner>img{
    width: 90%;
    height: 400px;
    margin: 0% 5%;
}

/* Actual body starts here, premium boutics */

.premium{
    width: 100%;
    /* height: 500px; */
    background-color: #EEEEEE;
}

.premium>h2{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.slot1{
    width:26%;
    background-color: #ffffff;
    height: 400px;
    display: inline-block;
    margin: 1%;
    box-shadow: 0px 1px 0px grey;
}

.img_prem{
    width: 100%;
    height: 300px;
}

.offer{
    font-size:20px;
    text-decoration: none;
    text-align: left;
    color: black;
    float: left;
    margin-top: 10px;
    padding-left: 25px;
    font-weight: 200;
}

.slot1>span{
    font-size: 20px;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    color: grey;
    font-weight: 200;
}

.new_today{
    text-decoration: none;
    font-size: 18px;
    color: #f02323;
    font-weight: 200;
    float: right;
    padding-right: 15px;
    padding-top: 12px;
}

.view_all{
    background-color: #EEEEEE;
    width: 80%;
    height: 100px;
    /* padding: 0px 145px; */
    padding: 0px 10%;
}

.view_all>a{
    width: 45%;
    /* height: 100px; */
    float: left;
    background-color: #fff;
    text-align: center;
    margin-right: 10px;
    padding: 25px;
    text-decoration: none;
    color: black;
    font-size:18px;
    font-weight: 100;
}

.boy_girl{
    width: 100%;
    height: 450px;
}

.boy_girl>a>img{
    width: 50%;
    height: 450px;
    float: left;
}

.footer{
    background-color: #d5f2f7;
    width: 100%;
    height: 500px;
    padding-top: 1%;
}

.footer>h2{
    width: 30%;
    /* height:50px; */
    border-radius: 30px;
    background-color:#ffffff;
    text-align: center;
    border: 1px solid #EEEEEE;
    margin: 0% 35%;
    font-size: 40px;
    font-weight: 200;
    color: #f79a21;
    padding: 5px 20px;
    box-shadow: 0px 2px 1px grey;
}