/* page css */

/* body{
    width: 90%;
    margin: 0% 5%;
} */

/* Header CSS */

.header{
    margin-top: 10px;
    /* width: 90%;
    margin: 1% 5%; */
    height: 60px;
}

.logo_search_links{
    width: 90%;
    margin: 1% 5%;
}

.logo_search{
    width: 35%;
}

.logo{
    float: left;
    width: 23%;
    height: 50px;
}

.logo>a>img{
    width: 100%;
    height: 50px;
}

.search{
    width: 73%;
    margin-left: 10px;
    height: 50px;
    float: left;
}

.search>input{
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #c7c1c1;
}

.header_links{
    /* width: 60%; */
    width: 45%;
    float: right;
}

.header_links>ul>li{
    display: inline;
    
    margin-right: 5px;
    /* float: right; */
    /* clear: both; */
}

.header_links>ul>li>a{
    text-decoration: none;
    color: black;
    border-right: 1px solid grey;
    padding-right: 5px;
}

/* Mega menu from here */

.mega_menu{
    width: 100%;
    height: 50px;
    background-color: #f8d53b;
    float: left;
    margin-top: 5px;
    box-shadow: 1px 1px 1px #e0dbdb;
    margin-bottom: 3px;
}

.mega_menu>ul{
    padding: 0px;
}

.mega_menu>ul>li{
    display: inline;
    margin-right: 10px;
}

.mega_menu>ul>li>a{
    display: inline;
    text-decoration: none;
    color: black;
    padding: 5px
}

/* Banner */

.banner{
    width: 100%;
    margin-top: 3px;
    background-color: #EEEEEE;
    margin-bottom: 5px;
}

.banner>img{
    width: 90%;
    height: 400px;
    margin: 0% 5%;
}

/* Actual body starts here, premium boutics */

.premium{
    width: 100%;
    height: 500px;
    background-color: #EEEEEE;
}

.premium>h2{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}